# PostgreSQL
POSTGRES_DB=library
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_in_local_env

# Backend
BACKEND_PORT=4000
JWT_SECRET=change_me_in_local_env
CORS_ORIGIN=http://localhost:3000

# Frontend
FRONTEND_PORT=3000
VITE_BACKEND_SERVER=http://localhost:4000
